# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
env/
.venv/

# =========================
# Dataset (IMPORTANT)
# =========================
data/
*.png
*.jpg
*.jpeg

# =========================
# Outputs / Results
# =========================
*.png
*.jpg
*.jpeg

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Checkpoints / Models
# =========================
*.pt
*.pth

# =========================
# Temp files
# =========================
*.tmp
*.bak